body {
	background-color:none;
}
a, a:hover, a:active, a:visited { 
	text-decoration:none; 
}
#header {
	text-align:center;
	font-family: 'al_frescoregular';	
	font-size:7em;
	font-weight:normal;
	margin-top:0;
}
#tagline {
	text-align:center;
	font-family: 'vanitasregular';	
	font-size:1.5em;
	margin-top:-5.3em;
	font-style:italic;
}
.news {
	font-family: 'telefonregular';
	font-weight:normal;
}
h4 {
	margin-top:0;
}
.nav {
	background:lightgrey;
	text-align:center;
	margin-top:-.5em;
	margin-bottom:2em;
}
.nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}
.nav ul li {
	display:inline-block;
	text-align:center;
	margin:0;
}
.nav ul li a:link,a:visited {
	display:block;
	width:7em;
	padding:0.6em;
	font-weight:normal;
	font-family:'telefonregular';
	font-size:1.2em;
	text-align:center;
	text-decoration:none;
	color:white;
	text-transform: uppercase;
}
.nav ul li a:hover,a:active {
	background-color:grey;
}
.article {
	font-family: 'suisse_bp_serifregular';
}
.article p a {
	color:grey;
}
.footer {
	background-color:lightgrey;
	font-family:'vanitasregular';
	color:white;
	margin-top:2em;
}
span1 {
	text-align:center;
}